@import url("normalize.css");
/***** CSS for introduction page*****/
html {
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
  color: #434f74;
  font-size: 1.1em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  margin: 7% auto;
  text-align: center;
}

.main-nav {
  width: 100%;
  position: absolute;
  top: 0px;
}

.main-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0px;
}

.main-nav ul li {
  margin: 15px;
  border-radius: 5px;
}

.main-nav ul li:hover {
  transform: scale(1.05) rotate(9deg);
}

.main-nav button {
  background-color: #434f74;
  border: none;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

.main-nav a {
  text-decoration: none;
  display: block;
  padding: 5px 10px 5px 10px;
  transition: transform 0.3s;
}

.main-nav a:link {
  color: #434f74;
}

.main-nav a:visited {
  color: #434f74;
}

.main-nav a:hover {
  color: rgba(126, 63, 185, 0.719);
  transform: rotate(10deg) scale(1.2);
}

.main-nav .active {
  background-color: #434f74;
}

.main-nav .active a:link {
  color: #FFFFFF;
}

.main-nav .active a:visited {
  color: #FFFFFF;
}

.menu {
  position: fixed;
  top: 1%;
  left: 1%;
  z-index: 1000;
}

.responsive {
  flex-direction: column;
  transform: translate 100 25;
}

.responsive li {
  border: 1px solid #434f74;
  border-radius: 0px;
  margin: 0px;
  text-align: center;
}

.responsive li:hover {
  transform: scale(1) rotate(0deg);
  background-color: #434f74;
  color: #FFFFFF;
}

.responsive li a {
  width: 100%;
  padding: 8px 40px;
}

.responsive li a:hover {
  transform: scale(1) rotate(0);
  color: #FFFFFF;
}

.inactive {
  display: none;
}
